.app-container {
  /* Este contenedor es necesario para que el z-index funcione correctamente */
  position: relative;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.content-wrap {
  position: relative;
  z-index: 1; /* Pone todo el contenido principal (main) por encima del fondo */
  background-color: transparent;
}

main {
  width: 100%;
}
